In [2]:
import pandas as pd

In [4]:
a = pd.read_csv('/home/yogeshsoni/Desktop/scrapy/amazon/amazon/items.csv')
a

,image_link,price,product_name
0,https://m.media-amazon.com/images/I/71GLMJ7TQi...,NaN,Apple iPhone 13 (128GB) - Starlight
1,https://m.media-amazon.com/images/I/61VuVU94Rn...,"48,999","Apple iPhone 13 (128GB) - Midnight,Super Retin..."
2,https://m.media-amazon.com/images/I/71xb2xkN5q...,"48,999","Apple iPhone 13 (128GB) - Blue,Super Retina XD..."
3,https://m.media-amazon.com/images/I/61LB+d0vhe...,"21,999","OnePlus Nord CE 3 Lite 5G (Chromatic Gray, 8GB..."
4,https://m.media-amazon.com/images/I/61u9zN1HYC...,"39,999","OnePlus 11R 5G (Sonic Black, 8GB RAM, 128GB St..."
...,...,...,...
187,https://m.media-amazon.com/images/I/71Ddc1m5zc...,"54,900",Apple Watch Series 9 [GPS + Cellular 45mm] Sma...
188,https://m.media-amazon.com/images/I/71RLYJvBid...,"1,54,999","Samsung Galaxy Z Fold5 5G (Phantom Black, 12GB..."
189,https://m.media-amazon.com/images/I/61ZYteSkDv...,"16,199",Fitbit Versa 4 Fitness Watch (Waterfall Blue/P...
190,https://m.media-amazon.com/images/I/61mSOsisDA...,"94,999","Samsung Galaxy S23 Plus 5G (Phantom Black, 8GB..."
191,https://m.media-amazon.com/images/I/61NnM1kR5c...,"23,999","Vivo Y100A 5G (Twilight Gold, 8GB RAM, 256GB S..."

In [10]:
quotes = pd.read_csv('/home/yogeshsoni/Desktop/scrapy/quotetutorial/items_with_pagination.csv')
quotes

,author,tag,title
0,Albert Einstein,"change,deep-thoughts,thinking,world",“The world as we have created it is a process ...
1,J.K. Rowling,"abilities,choices","“It is our choices, Harry, that show what we t..."
2,Albert Einstein,"inspirational,life,live,miracle,miracles",“There are only two ways to live your life. On...
3,Jane Austen,"aliteracy,books,classic,humor","“The person, be it gentleman or lady, who has ..."
4,Marilyn Monroe,"be-yourself,inspirational","“Imperfection is beauty, madness is genius and..."
...,...,...,...
95,Harper Lee,better-life-empathy,“You never really understand a person until yo...
96,Madeleine L'Engle,"books,children,difficult,grown-ups,write,write...",“You have to write the book that wants to be w...
97,Mark Twain,truth,“Never tell the truth to people who are not wo...
98,Dr. Seuss,inspirational,"“A person's a person, no matter how small.”"
99,George R.R. Martin,"books,mind",“... a mind needs books as a sword needs a whe...